* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Background */
body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #0b3a55, #03131d);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page */
.page {
  width: 100%;
  padding: 20px;
}

/* Brand */
.brand-area {
  text-align: center;
  margin-bottom: 40px;
}

.brand-area h4 {
  color: #d8f1ff;
  font-weight: 500;
}

.brand-line {
    width: 150px;
    height: 2px;
    background: rgba(255,255,255,0.35);
    margin: 7.25px auto;
    border-radius: 2px;
}

/* Card */
.card {
  max-width: 589.5px;
  margin: auto;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(14px);
  border-radius: 14px;
  overflow: hidden;
  color: #fff;
}

/* Header */
.card-header {
    background: rgba(255, 255, 255, 0.04);
    padding: 12px 10px;
    text-align: center;
    width: 589.5px;
    gap: 16.75px;
}

.card-header h3 {
  font-size: 19px;
}

.card-header p {
  font-size: 10.5px;
  opacity: 0.7;
  margin-top: 4px;
}

/* Content spacing */
.card > *:not(.card-header) {
  padding: 16px 18px;
}

/* Bank Box */
.bank-box {
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px 24px 40px;
    padding: 20px 16px;
}
.bank-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bank-logo {
    width: 158px;
    border-radius: 6px;
    display: flex;
    font-weight: bold;
}

.bank-logo img{
    width: 100%;
}

.change {
  color: #2bb673;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold; 
}

/* Info */
.info-box {
  display: flex;
  background: rgba(255,255,255,0.06);
  border-radius: 8px;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.85;
  width: 513px;
  margin: 24px 38.25px 54.5px;
  padding: 22.5px;
  gap: 16.75px;
}
.info-box p{
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    width: 395px;
    gap: 12px;
    opacity: 62%;
}
.info-icon {
  min-width: 20px;
  height: 20px;
  background: #f59e0b;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Button */
.action-btn {
  width: 590px;
  padding: 12px;
  border: none;
  background: #0a5cff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.action-btn:hover {
  background: #084ad1;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .card {
    max-width: 100%;
  }
  .card-header{
    width: 100%;
  } 
   .card-header h3 {
     font-size: 16px;
  }
  .card-header p{
    font-size: 11px;
  }
  .bank-box{
    display: block;
    text-align: center;
  }
  .info-box{
     max-width: 80%;
  } 
  .action-btn{
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width:576px) {
    .card-header{
     width: 100%;
  } 
    .card-header h3 {
     font-size: 16px;
  }
  .card-header p{
    font-size: 11px;
  }
    .info-box{
     max-width: 100%;
  } 
    .action-btn{
     width: 100%;
  }

}
